.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.text {
    font-size: 5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    gap: 10px;
}

.red {
    color: rgba(196, 48, 43);
    animation: moveFromLeft 1s forwards;
}

.white {
    color: white; 
    animation: moveFromRight 1s forwards;
}

.outline {
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

@keyframes moveFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 500px) {
    .text {
        font-size: 10vw;
    }
}